#divTableau {
	overflow: auto;
}
#nombre {
	width: 30px;
}
#tableau {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #3A3A3A;
	border-collapse: collapse;
}
#tableau th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #B3B3B3;
}
#tableau td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #ffffff;
}
.un:hover, .deux:hover, .imp:hover, #checkall, #ajoutCategorie, #ajoutElement{
	cursor: pointer;
}
#titre{
	padding-top : 2em;
}	
body {
	margin: auto;
	background: transparent url("http://www.normandie.developpement-durable.gouv.fr/plugins/internet_multicolor/_images/bg_body.gif") repeat-x scroll left top;
	padding-top: 10px;
	width: 1004px;
}
h3
{
 	color : #79b51c;
	text-shadow: 1px 1px black;
}
p 
{
	color : #484848;
}
#Accueil {
	width: 80%;
}
.links li 
{
	list-style:none;
	margin-right : 6%;
	margin-left : 2%;
}				
a.list-group-item { 
	color : black;   
}
noscript{
	color : red;
}	
a.list-group-item:hover {
	background-color : rgb(189, 209, 118);	 
	color : black;   
	text-decoration : none;	
	transition: 2s;
}
ol, ul{
	margin-top: 15px;
	margin-bottom: 15px;
}
#viewerDiv {
  padding: 5px;
  width: 100%;
  height: 450px;
  box-shadow: 0 0 10px #999;
}		
#contenu {
	margin : 5px;
}
#LinkError{
	color : grey;
}
#LinkError:hover{
	text-decoration: none;
	color : grey;
}
#page {
	background-color : white;
	box-shadow: 0px 0px 10px black;
	clear : both;
}
#entete{
    box-shadow: 0px 1px 3px grey;

}
#haut{
    box-shadow: 0px -1px 3px grey inset;	
	border-bottom : solid #79b51c 4px;
	height : 136px;
}
#BandeauHaut > a{
	display : block;
    box-shadow: 0px -1px 3px grey inset;	
	border-bottom : solid #79b51c 4px;
	background: url("logo_pdf.png");
	height : 136px;
}
.btn-primary:hover {
	background-color: #337ab7;

}
#presentationTab{
	width : 80%;
	text-align : center;
	vertical-align: center;
	margin :auto;
	border-radius : 3px;
}
#fichePage {
	margin-top : 75px;
}
#menu .boutonMenu{
	padding-right: 5px;
	padding-left: 5px;
}
#menu a:hover{
	text-decoration: none;
}
#menu {
	width: 100%;
	padding-left: 15px;
}
#container-info {
	height : 450px;
	vertical-align : middle;
	text-align : left;
}
#container-info > h4 {
	margin-bottom: 25px;
	text-align : center;
}
#container-info > p {
	margin-left: 15%;
}
#container-map {
	vertical-align : middle;
	text-align : center;
	margin-bottom: 20px;
}
#rouen{
	width : 50%;
	float : left;
	text-align: center;
	vertical-align: middle;
}
#caen{
	width : 50%;
	margin-left: 50%;
	text-align: center;
	vertical-align: middle;

}
#pied {
	box-sizing: default;
	padding-bottom: 2px;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}
.glyphicon{
	padding : 1px;
}
.panel-primary {
	border-color: #79b51c;
	box-shadow : 0px 1px 2px grey;
	width : 55%;
	margin : auto;
	margin-top : 20px;
	margin-bottom: 20px;
}
.panel-title{
	color : black;
	text-shadow: none;
}
.panel-primary > .panel-heading{
	border-color : rgb(189, 209, 118);
	background-color : rgb(189, 209, 118);
}
.col-md-8 { line-height: 200px; }
.col-md-12 { line-height: 80px; }