.loader {
	margin:auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #337ab7;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.table #tbody {
	display:block;
	max-height:450px;
	overflow-y:auto; 
	overflow-x:hidden;
}
.table thead, .table #tbody tr {
	display:table;
	table-layout:fixed; 
}
.table #tbody tr {
	width:100%;
}
.table thead{
	width: calc(100% - 1.05vw)
}
.modifierCat, .supprimerCat{
	cursor:pointer;
	padding-left: 4px;
	padding-right: 4px;
	border: none;
	border-radius: 5px;
	color: white;
	display: inline-block;
}
.modifierCat{
	margin-left: 4px;
	background-color: grey;
}
.supprimerCat{
	margin-left: 7px;
	background-color: #844444;
}
.modifierCat:hover{
	background-color: #9f9f9f;
}
.supprimerCat:hover{
	background-color: #b36161;
}
#viderMilieu{
	bottom: 3px;
	right: 3px;
	position: absolute;
	 background: #ba3737;
	  color: white;
	  font-size: 17px;
	  border: 1px solid grey;
	  cursor: pointer;
	  border-radius: 3px;
}
#viderMilieu:hover{
	background-color: #844444;
}
#viderMilieu:active{
	padding: 1px -1px -1px 1px;
}
.panel-heading .collapsingPanel:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .collapsingPanel.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.warning-sign{
	color: red;
}
#lancerRecherche {
  padding: 10px;
  background: #337ab7;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
  border-radius: 3px;
  display: table-cell;
}
#lancerRecherche:hover{
	background-color: #6090c0;
}
#lancerRecherche:active{
	padding: 11px 9px 9px 11px;
}
.elementGauche, .elementDroite, .dragCat {
	border-radius:30px;
	cursor:grab;
	cursor: -webkit-grab;
	margin:5px;
	box-shadow: 0 0 4px #999;
	-moz-user-select: none;
	user-select: none;
	padding-left: 12px;
	padding-right: 12px;
}
.elementGauche {
	border:1px solid #79b51c;
	background-color:rgb(206, 222, 147);
}
.elementDroite {
	border:1px solid rgb(55, 171, 216);
	background-color:rgb(191, 227, 236);
}
.searchBar{
	width: 100%;
	width: -moz-available;          /* For Mozzila */
	width: -webkit-fill-available;  /* For Chrome */
}
fieldset{
	display: inline;
}
[data-tooltip] {
  position: relative;
  z-index: 2;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	white-space:pre-wrap;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 1s;
  font-weight: normal !important;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
  opacity: 0;
  transition: opacity 1s;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  font-weight: unset;
}

.consigne{
	font-size: 15px;
	font-weight: bold;
	color: #747474;
}

.odd{
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.tableauElements td{
	padding: 3px;
	text-align: center;
}
.divTableauElements {
	max-height: 550px;
	overflow: auto;
}
.chargement > .swal-title {
  margin: auto;
}
.swal-button--confirm {
	background-color: #337ab7;
}
.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
#maj, #comment{
	margin-bottom: 0px;
}
#metadonnees {
	float: right;
	color: white;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid #337AB7;
	border-radius: 4px;
	padding: 3px;
	background-color: #337AB7;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#metadonnees:hover{
	background-color: white;
    color: #337AB7;
}
.information {
	display:inline-block;
	position: relative;
	font-size: 15px;
	vertical-align: middle;
	margin-left: 3px;
	cursor: help;
}
.url {
	width:500px;
}
input[type='text']{
	color:#6B6B6B;	
}
.col-lg-2 {
	margin-bottom:7px;
}
#wrapper {
	max-height: 550px;
    overflow: auto;
}
#nombre {
	width: 30px;
}
.tableau {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #3A3A3A;
	border-collapse: collapse;
}
.tableau th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
	background-color: #B3B3B3;
}
.tableau td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #3A3A3A;
}
.un:hover, .col-lg-2:hover, .theadElement:hover, input[type='checkbox']:hover, input[type='radio']:hover {
	cursor: pointer;
}
body {
	margin: auto;
	background: transparent url("img/bg_body.gif") repeat-x scroll left top;
	padding-top: 10px;
	width: 1004px;
}
h3
{
 	color : #79b51c;
	text-shadow: 1px 1px black;
}
p 
{
	color : #484848;
}
#Accueil {
	width: 80%;
}
.links
{
	list-style: none;
	margin-right : 6%;
	margin-left : 2%;
}				
a.list-group-item { 
	color : black;   
}
noscript{
	color : red;
}	
a.list-group-item:hover {
	background-color : rgb(189, 209, 118);	 
	color : black;   
	text-decoration : none;	
	transition: 2s;
	cursor: pointer;
}
ol, .ulorigin{
	margin-top: 15px;
	margin-bottom: 15px;
}
#viewerDiv {
  padding: 5px;
  width: 100%;
  height: 450px;
  box-shadow: 0 0 10px #999;
}		
#contenu {
	margin : 5px;
}
#LinkError{
	color : grey;
}
#LinkError:hover{
	text-decoration: none;
	color : grey;
}
#page {
	background-color : white;
	box-shadow: 0px 0px 10px black;
	clear : both;
}
#entete{
    box-shadow: 0px 1px 3px grey;

}
#haut{
    box-shadow: 0px -1px 3px grey inset;	
	border-bottom : solid #79b51c 4px;
	height : 136px;
}
#BandeauHaut > a{
	display : block;
    box-shadow: 0px -1px 3px grey inset;	
	border-bottom : solid #79b51c 4px;
	background: url("img/logo_pdf.png");
	height : 136px;
}
.btn-primary:hover {
	background-color: #337ab7;

}
.presentationTab{
	width : 80%;
	text-align : center;
	vertical-align: center;
	margin :auto;
	border-radius : 3px;
}
#fichePage {
	margin-top : 10px;
	margin-bottom : 25px;
	overflow: hidden;
}
#menu .boutonMenu{
	padding-right: 5px;
	padding-left: 5px;
}
#menu a:hover{
	text-decoration: none;
}
#menu {
	height:45px;
	width: 100%;
	padding-left: 15px;
}
#container-info {
	/*height : 450px;*/
	vertical-align : middle;
	text-align : left;
}
#container-info > h4 {
	margin-bottom: 25px;
	text-align : center;
}
#container-info > p {
	margin-left: 15%;
	word-wrap: break-word;
}
#container-map {
	vertical-align : middle;
	text-align : center;
	margin-bottom: 20px;
}
#rouen{
	width : 50%;
	float : left;
	text-align: center;
	vertical-align: middle;
}
#caen{
	width : 50%;
	margin-left: 50%;
	text-align: center;
	vertical-align: middle;

}
#pied {
	padding-bottom: 2px;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}
.glyphicon{
	top: 0px;
	padding : 1px;
}
.panel-primary {
	border-color: #79b51c;
	box-shadow : 0px 1px 2px grey;
	width : 55%;
	margin : auto;
	margin-top : 20px;
	margin-bottom: 20px;
}
.panel-title{
	color : black;
	text-shadow: none;
}
.panel-primary > .panel-heading{
	border-color : rgb(189, 209, 118);
	background-color : rgb(189, 209, 118);
}
.col-md-8 { line-height: 200px; }
.col-md-12 { line-height: 80px; }